<tr onmouseover="this.style.cursor='pointer';"
onclick="location.href='<%= route_path(route) %>';"
style="cursor: pointer;">
  <td class="number"><%= route.route_number %></td>
  <td class="number"><%= route.stops.count %></td>
</tr>
