<div class="container">
  <h3>All Routes</h3>
  <p id='route_sorting'>Sort by <%= sortable "stop_id", "route number" %> or <%= sortable "Stops", "number of stops" %></p>
  <%= high_chart("chart", @chart) %>
</div>
