<div class="navbar">
  <div id='left'><%= link_to 'CTA Bus Routes', root_path %></div>
  <div id='right'>
    <span><%= link_to 'All Routes', routes_path %></span>
    <span><%= link_to 'All Stops', stops_path %></span>
  </div>
</div>
